:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
}

/* Загальні оформлення */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  background-color: white;
  color: var(--primary-text-color);
}

/* button {

  cursor: pointer;

} */

ul {
  list-style: none;
}

/* точечні оформлення СТУДІЯ  */

/* Навігація */
.logo-nav {
  letter-spacing: 0.03em;
  text-decoration: none;
  font-family: 'Raleway';
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.9;
  font-weight: 700;
}

.site-nav .web-accent {
  color: var(--accent-color);
}

.site-nav .logo-nav:hover,
.site-nav .logo-nav:focus {
  color: var(--accent-color)
}

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.mail-accent {
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.mail-accent:hover,
.mail-accent:focus {
  color: var(--accent-color)
}

.tel-number {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.tel-number:hover,
.tel-number:focus {
  color: var(--accent-color)
}

/* Шапка */
.hero {
  background-color: #2F303A;
  color: var(--primary-white-color);
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.hero-button:focus{
background-color:188CE8;
}

.hero-button:hover {
background-color: blue;
}


/* <!--Особливості--> */

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.our-team {
  background-color: #F5F4FA;
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.team-style {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* <!--Футер--> */
footer {
  background-color: #2F303A;
}

.logo-foot {
  text-decoration: none;
  font: 'Raleway';
  font-weight: 700;
  color: var(--primary-white-color)
}

.logo-foot .web-accent {
  color: var(--accent-color);
}

.where {
  font-style: normal;
  color: var(--primary-white-color);
}

.mail {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.number {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.number:hover,
.number:focus {
  color: var(--accent-color);
}

/* Точечні оформлення Портфоліо */
.pagination .filtr-butt {
  cursor: pointer;
  border: none;
  color: var(--title-text-color);
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.pagination .filtr-butt:hover,
.pagination .filtr-butt:focus {
  color: var(--accent-color);
}

.portfolio .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color)
}

.portfolio .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color)
}